In [1]:
import pandas as pd
import json
import glob
import os
import csv

### Humor detection dataset

In [2]:
data = pd.DataFrame()

for file in glob.glob('../data/raw/humor-detection-corpus/Raw-data/*.json'):
    df = pd.read_json(file,dtype=str)
    data = pd.concat([data,df],axis=0)

In [3]:
labels = pd.read_csv('../data/raw/humor-detection-corpus/HumorCorpusFinal.txt',header=None,sep=' ',dtype=str)
labels.columns = ['id','label']

In [4]:
data = pd.merge(data,labels,how='inner')

In [5]:
try:
    os.makedirs('../data/processed/humon-detection-corpus/')
except:
    pass

In [6]:
data.head()

,timestamp,text,user,retweets,replies,fullname,id,likes,label
0,2015-01-02 15:32:48,Anurag Kashyap's Mahabharat - Nawazuddin Siddi...,Raj_ThackerYAY,10,0,Raj ThackerYAY,551038407351103488,3,H
1,2015-01-04 07:05:13,"Public nahaane ki baatein kar rai hai, aur yah...",AdvancedMaushi,3,2,A La' Vile De Satara,551635442878009344,4,H
2,2015-01-04 17:05:35,Uncle: Isse shaadi huee nahi.. Phir huee nahi....,BolshoyBooze,5,1,Ser Champ McStark,551786530889400320,4,H
3,2015-01-05 06:20:24,.@BabaFirki haan BC yahi baaki reh gaya hai ba...,AdvancedMaushi,1,1,A La' Vile De Satara,551986554621542400,0,H
4,2015-01-05 11:28:12,Yo Yo Honey Singh: Upar upar upar upar upar up...,BolshoyBooze,15,1,Ser Champ McStark,552064014553841666,7,H

In [7]:
data[['text','label']].to_csv(os.path.join('../data/processed/humon-detection-corpus/','data.txt'),\
                              header=None,sep='\t',index=False)

In [8]:
data.shape

(2952, 9)

### Sarcasm dataset

In [9]:
data = pd.read_csv('../data/raw/SarcasmDetection_CodeMixed/Dataset/Sarcasm_tweets.txt',sep='\t',\
                   dtype=str,header=None)

ids = []
texts = []

for i in range(data.shape[0]):
    if i%2 == 0:
        ids.append(data.values[i][0])
    else:
        texts.append(data.values[i][0])
        
assert len(ids) == len(texts)

data = pd.DataFrame()
data['id'] = ids
data['text'] = texts

In [10]:
labels = pd.read_csv('../data/raw/SarcasmDetection_CodeMixed/Dataset/Sarcasm_tweet_truth.txt',sep='\t',\
                   dtype=str,header=None)

ids = []
label = []

for i in range(labels.shape[0]):
    if i%2 == 0:
        ids.append(labels.values[i][0])
    else:
        label.append(labels.values[i][0])
        
assert len(ids) == len(label)

labels = pd.DataFrame()
labels['id'] = ids
labels['label'] = label

In [11]:
data = pd.merge(data,labels,how='inner')

In [12]:
data.head()

                   id                                               text label
0  866871160725794816          Triple Talaq par Burbak Kuchh nahi bolega    NO
1  880356789358743553  Batao ye uss site pr se akki sir ke verdict ni...   YES
2  877751493889105920  Hindu baheno par julam bardas nahi hoga @Tripl...    NO
3  901806457871466496  Naa bhai.. aisa nhi hai.. mere handle karne se...    NO
4  866264330748219392  #RememberingRajiv aaj agar musalman auraten tr...    NO

In [13]:
data.shape

(5250, 3)

In [14]:
try:
    os.makedirs('../data/processed/SarcasmDetection_CodeMixed/')
except:
    pass

In [15]:
data[['text','label']].to_csv(os.path.join('../data/processed/SarcasmDetection_CodeMixed/','data.txt'),\
                              header=None,sep='\t',index=False)

### Stance detection dataset

In [16]:
data = pd.read_csv('../data/raw/StanceDetection_CodeMixed/Dataset/Notebandi_tweets.txt',sep='\t',\
                   dtype=str,header=None)

ids = []
texts = []

for i in range(data.shape[0]):
    if i%2 == 0:
        ids.append(data.values[i][0])
    else:
        texts.append(data.values[i][0])
        
assert len(ids) == len(texts)

data = pd.DataFrame()
data['id'] = ids
data['text'] = texts

In [17]:
labels = pd.read_csv('../data/raw/StanceDetection_CodeMixed/Dataset/Notebandi_tweets_stance.txt',sep='\t',\
                   dtype=str,header=None)

ids = []
label = []

for i in range(labels.shape[0]):
    if i%2 == 0:
        ids.append(labels.values[i][0])
    else:
        label.append(labels.values[i][0])
        
assert len(ids) == len(label)

labels = pd.DataFrame()
labels['id'] = ids
labels['label'] = label

In [18]:
data = pd.merge(data,labels,how='inner')

In [19]:
data.head()

,id,text,label
0,796033860081426432,Kejri & rahul : hum is nasbandi ke khilaf hain...,NONE
1,796754126671466496,"@narendramodi sir, aaj kuchh garibo mazdooro k...",NONE
2,796755878682599424,"#ByeByeBlackmoney. Notebandi, Ghoosbandi and N...",FAVOR
3,796892982360162304,Jaise notebandi nahi unki nasbandi kardi ho Mo...,NONE
4,796908665047379968,sir aap to against corruption ke biradri wale ...,FAVOR

In [20]:
data.shape

(3545, 3)

In [21]:
try:
    os.makedirs('../data/processed/StanceDetection_CodeMixed/')
except:
    pass

In [22]:
data[['text','label']].to_csv(os.path.join('../data/processed/StanceDetection_CodeMixed/','data.txt'),\
                              header=None,sep='\t',index=False)

### Aggression dataset

In [23]:
train_data = pd.DataFrame()
for file in glob.glob('../data/raw/trac1-dataset/*/*_train.csv'):
    df = pd.read_csv(file,header=None,quoting=csv.QUOTE_ALL)
    df = df.dropna(axis=1,how='all')
    df.columns = ['id','text','label']
    train_data = pd.concat([train_data,df],axis=0)
    
#train_data.columns = ['id','text','label']

In [24]:
train_data.tail()

,id,text,label
11994,facebook_corpus_msr_394638,They belong to you flight dirty terrorist coun...,OAG
11995,facebook_corpus_msr_429177,"Really motivating programme, congratulations t...",NAG
11996,facebook_corpus_msr_2032370,fabricated news,OAG
11997,facebook_corpus_msr_1722926,What's wrong with you secular idiots,OAG
11998,facebook_corpus_msr_327960,Looks like inevitable after all political hard...,NAG

In [25]:
val_data = pd.DataFrame()
for file in glob.glob('../data/raw/trac1-dataset/*/*_dev.csv'):
    df = pd.read_csv(file,header=None,quoting=csv.QUOTE_ALL)
    df = df.dropna(axis=1,how='all')
    df.columns = ['id','text','label']
    val_data = pd.concat([val_data,df],axis=0)
    
#val_data.columns = ['id','text','label']

In [26]:
train_data = train_data.fillna('')
val_data = val_data.fillna('')

In [27]:
train_data = train_data[train_data.text != '']
val_data = val_data[val_data.text != '']

In [28]:
train_data.shape, val_data.shape

((23998, 3), (6002, 3))

In [29]:
try:
    os.makedirs('../data/processed/Aggression_dataset/')
except:
    pass

In [30]:
train_data[['text','label']].to_csv(os.path.join('../data/processed/Aggression_dataset/','train.txt'),\
                              header=None,sep='\t',index=False)

val_data[['text','label']].to_csv(os.path.join('../data/processed/Aggression_dataset/','val.txt'),\
                              header=None,sep='\t',index=False)